/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


html {
    scroll-behavior: smooth;
}

.row {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    border: none !important;
}

.img-banner {
    min-height: 700px;
    max-height: 100%;
    object-fit: cover;
}

.topics {
    background-color: #F9F9F9;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}

.img-topics {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.owl-carousel {
    cursor: pointer;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    border: none !important;
}

.faq {
    background-color: #F9F9F9;
}

.bg-footer {
    background-color: #709AB5;
}

a {
    color: unset !important;
    text-decoration: none !important;
}

footer a:hover {
    color: white;
}

.btn-secondary {
    background-color: #709AB5 !important;
}

.footer {
    background-color: #709AB5;
}

.list-group-item-info {
    background-color: #709AB5 !important;
}

li {
    list-style-type: none !important;
}

.cards-home {
    max-height: 250px;
}

.bg-big-numbers {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    border: none !important;
}

.aux-red {
    background-color: red;
}

.aux-blue {
    background-color: blue;
    object-fit: fill;
}

.aux-yellow {
    background-color: yellow;

}

.aux-green {
    background-color: green;
}

.aux-purple {
    background-color: rebeccapurple;
}

.aux-grey {
    background-color: grey;
}

.aux-black {
    background-color: black;
}

.footer-bar {
    background-color: #547991 !important;
    color: black !important;

}